@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* - Rouge: #ef5466
- Bleu: #2d96c8
- Gris clair: #f9f9f9
- Gris foncé: #8e8e94 */
body 
{
    font-family: 'Roboto';
}


header
{
    /* background-color: yellow; */
    height: 5vh;
    padding-bottom: 10px;

}

header nav
{
    position: absolute;
    right: 0px;
    top: 10px;
    margin-right: 120px;
}

.logo 
{
    max-width: 130px;
    max-height: 130px;
    padding-left: 60px;
    padding-top: 15px;
}

header nav a 
{
    padding-right: 20px;
    margin-right: 20px;
    text-decoration: none;
    box-shadow: none;
}

header button

{
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 120px;
    border-radius: 50px;
}

.signin
{
    background-color: white;
    border-color: #2d96c8;
    color: #2d96c8;
    margin-right: 20px;
    box-shadow: none;
}


.signup

{
    background-color: #2d96c8;
    color: white;
    border-color: #2d96c8;
}


.first_bloc
{
    /* background-color: red; */
    height: 36vh;
    background-image: url(./img/hero.png);
    background-size: 600px 540px;  
    background-repeat: no-repeat;
    background-position-x: 70em; 
} 

.first_bloc article

{

    /* position: absolute; */
    height: 25vh;
    width: 50vh;
    padding: 70px 0 0 200px;
}

.premium

{
    background-color: #ef5466;
    color: #fff;
    border-color: #ef5466;
    width: 190px;
    margin-right: 40px;
    margin-top: 30px;
    padding: 15px 0 15px 0;
    border-radius: 50px;
}

.gratuit

{
    background-color: #fff;
    color: #1a1616;
    border-color: #1a1616;
    width: 190px;
    padding: 15px 0 15px 0;
    border-radius: 50px;
}
.first_bloc h2

{
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(29, 28, 28);
}

.first_bloc h3

{

    font-size: 21px;
    margin-top: 10px;
    color: #ef5466;
    font-weight: bold;
    letter-spacing: 2px;
}


.second_bloc
{
    background-color: #f9f9f9;
     height: 50vh;
} 

.container
{
    display: flex;
    margin-left: 200px;
}

.info
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 130px;
}

.info article
{
    width: 40%;
    height: 35%;
    color: #2e2e30;
    line-height: 1.2em;
}

.phone
{
    height: 40vh;
    display: flex;
    padding-top: 65px;

}
.info h3
{
    color: #1a1616;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    padding-bottom: 15px;
    letter-spacing: 0.5px;
}

.info p
{
    color: #2e2e30;
    font-size: 12px;
    font-weight: light;
    word-spacing: 3px;
    /* width: 355px; */

}

.boco

{
    position: absolute;
    padding-left: 370px;
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.6px;
    color: #2e2e30;
}


.pink_bar
{
    background-color: rgb(198, 54, 78);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logox

{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.icon 
{
    max-width: 32px;
    max-height: 32px;
    padding-right: 22px;
}

.textdiv
{
    width: 40vh;
    padding-left: 30px;

}

.logox h2
{
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.logox p
{
    color: #fff;
    width: 45vh;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.3em;
}

.forfait_bloc
{
    /* background-color: gray; */
    height: 80vh;
    /* display: flex;
    flex-direction: column; */
}

.forfait_div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* height: 400px */
    padding-top: 50px;
    
}

.forfait_bloc h2
{
    padding: 70px 0 30px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #2e2e30;

 
}

.forfait_bloc p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding-top: 15px;
}
.grille
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 230px;
    height: 50vh;
}

.grille_two
{
    
        background-color: #2d96c8;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 230px;
        height: 50vh;
}

.grille_two h3
{
    
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.5px;
        height: 20px;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
}

.grille_two a
{
    text-decoration: none;
    box-shadow: none;
    font-size: 12px;
    color: #2d96c8;
}

.grille_two ul  
{
    line-height: 2em;
    letter-spacing: 1px;
    font-size: 15px;
}

.grille h3
{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    height: 20px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title
{
    padding-top: 30px;

}

.btn
{
    color: #fff;
    border-color: #2e2e30;
    background-color: #2e2e30;
    width: 180px;
    border-radius: 50px;
    margin-bottom: 10px;

}

.pinkbtn
{
    color: #fff;
    border-color: #ef5466;
    background-color: #ef5466;
    width: 180px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.grille a 
{
    text-decoration: none;
    box-shadow: none;
    font-size: 12px;
    color: #2d96c8;
}

.test
{
    color: #fff;
}
.teste
{
    color: #2d96c8;
}

.grille_two

{
    padding-bottom: 20px;
}

.grille ul
{
    
    line-height: 2em;
    letter-spacing: 1px;
    font-size: 15px;
}    
.discount_bloc
{
    /* background-color: blue; */
    height: 26vh;

}

section.sub{
    background-color: #fff;
}

section.sub article.sub1
{
    background-color: lightgrey;
    margin-bottom: 10px;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
}

section.sub button.btn_sub
{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.sub article.sub1 div.sale
{
    display: flex;
    flex-direction: column;
}

section.sub article.sub2
{
    display: flex;
    margin-bottom: 20px;
}

section.sub article.sub3
{
    display: flex;
}

section.sub h3
{
    font-weight: bold;
    padding-bottom: 10px;
    color: #1a1616;
    margin-bottom: 10px;
    font-size: 20px;

}

section.sub span{
    color: #ef5466;
}

section.sub a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #2d96c8;
}

section.sub div.btn_sub button
{
    
    border-radius: 50px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    background-color: inherit;
    border-color: #1a1616;
}
footer
{
    /* background-color: yellow; */
    height: 40vh;
}